 /* Add your custom styles here */
 body {
    padding-top: 56px; /* Adjust the padding based on your header height */
    background-image: linear-gradient(rgba(0,0,50,0.8),rgba(0,0,50,0.8)),url(background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* This keeps the background fixed when scrolling */
}

.sidebar {
    min-height: 100vh;
    background-color: rgba(248, 249, 250, 0.8); /* Change the background color as needed */
}

.footer {
    padding: 20px 0;
    background-color: rgba(52, 58, 64, 0.8); /* Change the background color as needed */
    color: #fff; /* Change the text color as needed */
}
.card {
    margin-bottom: 20px;
}