body {
    padding-top: 56px;
    background-image: linear-gradient(rgba(182, 182, 241, 0.8), rgba(125, 125, 158, 0.8)), url(background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sidebar {
    min-height: 100vh;
    background-color: rgba(121, 131, 185, 0.8);
    animation: fadeIn 1s ease-in-out; /* Add fade-in animation */
}

.footer {
    padding: 20px 0;
    background-color: rgba(93, 82, 223, 0.8);
    color: #fff;
    animation: fadeIn 1s ease-in-out; /* Add fade-in animation */
}

.card {
    margin-bottom: 20px;
    animation: fadeInUp 1s ease-in-out; /* Add slide-up animation */
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 767px) {
    .sidebar {
        position: relative;
        width: 100%;
        background-color: rgba(248, 249, 250, 0.95); /* Adjust background color for better visibility */
        padding: 20px; /* Add padding for better spacing */
    }
    .main-content {
        margin-top: 56px;
    }
}

.navbar-collapse {
    justify-content: flex-end;
}

form input,
form button {
    transition: all 0.5s ease; /* Increased transition duration */
}

form input:hover,
form button:hover {
    background-color: #f0f0f0; /* Change background color on hover */
    cursor: pointer; /* Add pointer cursor on hover */
}
.login{
    border-radius: 10% 30% 50% 70%;
}
