body {
  padding-top: 3.5rem;
  background-color: #f8f9fa;
}
.header{
  margin-bottom: 0.5rem;
}
.header, .footer {
  background-color: #343a40;
  padding: 1rem 0;
}

.nav-link {
  color: #1a1010;
}

.main {
  padding: 2rem;
}

.card {
  margin-bottom: 2rem;
  max-width: 45vw;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.nav-tabs {
  display: flex;
}

.nav-link {
  padding: .5rem 1rem;
  border-radius: 0;
  margin-right: 5px;
  background-color: #ffc107;
  color: #1a1010;
}

@media (max-width: 576px) {
  .nav-link {
    padding: .5rem .7rem;
    font-size: 0.8rem;
  }

  .main {
    padding: 1rem;
  }
}

.tab-content {
  padding: 1rem;
}

.tab-pane {
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer {
  color: white;
  text-align: center;
}
