body {
  padding-top: 3.5rem; /* Adjusted for the fixed navbar height */
}

header, footer {
  background-color: #718090;
  padding: 1rem 0;
}

.nav-link {
  color: rgb(26, 16, 16);
}

main {
  padding: 2rem;
}

.card {
  margin-bottom: 2rem;
  max-width: 45vw; /* Responsive card width */
}

.scrolling-tabs .nav-tabs {
  display: flex;
}

.scrolling-tabs .nav-link {
  padding: .5rem 1rem;
  border-radius: 0;
  margin-right: 5px;
}

@media (max-width: 576px) {
  .scrolling-tabs .nav-link {
      padding: .5rem .7rem; /* Adjusted padding for smaller screens */
      font-size: 0.8rem; /* Adjusted font size for smaller screens */
  }
  
  main {
      padding: 1rem;
  }
}

/* Custom styles for the tab content */
.tab-content {
  padding: 1rem;
}

.tab-pane {
  background-color: #f8f9fa; /* Light gray background */
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
}

/* Custom styles for the footer */
footer {
  color: white;
  text-align: center;
  padding: 1rem 0;
  background-color: #343a40;
}
.card{
  margin-left: 2vh;
  
}